*, html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: grid;
  height: 100vh;
  width: 80%;
  margin: 0.5rem auto;
  grid-gap: 0.5rem 0.5rem;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 10% 55% 35%;
}

.top {
  grid-column:  1/-1;
}
.map{
  /* grid-rows: 1; */
  grid-column: 1/-1;
}

.gambar{
  background-color: #B3E5FC;
  overflow-y: auto;
  grid-column: 1/5;
  padding: 0.5rem;
}

.review {
  background-color: #B3E5FC;
  grid-column: 5/-1;
  padding: 1rem 0.5rem;
}


.gambar img {
  width: 45%;
  margin: auto;
  padding: 0.5rem;
}

@media screen and (max-width: 512px){
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 10% 40% 25% 25%;
  }
  .top{ 
    grid-column: 1/-1;
    grid-row: 1;  }
  .map {
    grid-row: 2;
    /* grid-column: 1/-1 */
  }
  .gambar {
    grid-row: 3;
    grid-column: 1/-1;
  }
  .review {
    grid-row : 4;
    grid-column: 1/-1; 
  }
  .gambar img {
    width: 45%;
  }
}

.review.review-wrapper {
  overflow-y: scroll;
}

.review.review-wrapper::-webkit-scrollbar-track, .gambar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.review.review-wrapper::-webkit-scrollbar, .gambar::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.review.review-wrapper::-webkit-scrollbar-thumb, .gambar::-webkit-scrollbar-thumb {
  background-color: rgb(80, 80, 80);
  border-radius: 10px;
}

.comment { 
  margin: 0.75rem 0.5rem; 
  padding: 0.5rem;
  background: #FFFFFF;
  border-radius: 10px;
}

.comment .name {
  color: #0288D1;
  font-weight: bold;
  font-size: 1.2rem;
}

.footer {
  grid-rows: 2;
  padding: 0.5rem 1rem;
  grid-column: 1/-1;
  background-color: #13fa60
}

.gambar, .review {
  padding : 1rem;
}

.top .logo {
  font-family: myFirstFont;
  padding: 0.5rem;
  font-size: 1.5rem;
  display: inline-block
}

.top a.back {
  text-decoration: none;
  display: inline-block;
  padding: 1rem 0.75rem;
  font-size: 1.2rem;
  font-family: myFirstFont;
  float: right;
}

.top a.back:hover {
  color: #757575;
}