*{
  padding : 0;
  margin : 0
}

nav {
  /* display: flex; */
  box-shadow: 0px  0px 1px #001111
}

nav.container {
  padding: 0 10% 0 10%;
}

nav .logo{
  display: inline-block;
  box-sizing: border-box;
  padding: 1.2rem;
}

.logo a {
  text-decoration: none;
  color : #001111;
}

nav ul {
  list-style: none;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

nav ul.float-right {
  float: right;
}

nav ul li {
  display : inline;
}

nav ul li a {
  display : inline-block;
  text-decoration: none;
  color: #001111;
  padding : 1.2rem; 

}

@media screen and (max-width : 460px ) {
  .logo {
    display: block !important;
    text-align: center;
    border-bottom: 1px dashed #001111;
  }

  nav { 
    display: grid;
  }

  nav ul li{
    display: block;
  }
}

.wrapper-center {
  text-align: center;
  padding: 1.2rem;
}

.container {
  display: grid;
  width: 100%;
  height: 80vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
  grid-gap: 4px;
}

.menu {
  background-color: #03A9F4;
  grid-column: 1/5;
  font-family:myFirstFont;
  font-size: 1.5rem;
}
.sidebar {
  background-color:#03A9F4; 
  grid-row: 2/5;
  grid-column-end: 1/2}
.content {
  background-color: #B3E5FC; 
  grid-column: 2/5 }
.footer {
  background-color: #03A9F4;
  grid-column: 1/5 }

.menu, .sidebar, .content, .footer {
  padding: 0.8rem;
}

@media screen and (max-width : 460px ) {
  .container {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
  }
  .sidebar{
    grid-column: 1/5;
    grid-row: 2;
    text-align: center;
  }
  .sidebar img { width: 40%; }
  .content {
    grid-column: 1/5;
    /* grid-row: ; */
  }
}

img {
  width: 100%;
  border-radius: 5%;
  box-shadow: 0 0 5px rgba(0,0,0, 1)
}

a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

a:hover{
  font-weight: bold;
  transition-duration: 0.2s;
  transition-property: inherit;
}